[Desktop Entry]
Name=Kanagram Active
Name[es]=Kanagram Active
Name[hu]=Kanagram Active
Name[nl]=Kanagram-actief
Name[pt]=Kanagram Active
Name[pt_BR]=Kanagram Active
Name[sv]=Kanagram Active
Name[uk]=Портативна Kanagram
Name[x-test]=xxKanagram Activexx
GenericName=Kanagram Active
GenericName[es]=Kanagram Active
GenericName[hu]=Kanagram Active
GenericName[nl]=Kanagram-actief
GenericName[pt]=Kanagram Active
GenericName[pt_BR]=Kanagram Active
GenericName[sv]=Kanagram Active
GenericName[uk]=Портативна Kanagram
GenericName[x-test]=xxKanagram Activexx
Comment=Kanagram Active for tablets
Comment[es]=Kanagram Active para tablets
Comment[hu]=Kanagram Active tabletekhez
Comment[nl]=Kanagram-actief voor tablets
Comment[pt]=Kanagram Active para tabletes
Comment[pt_BR]=Kanagram Active para tablets
Comment[sv]=Kanagram Active för läsplattor
Comment[uk]=Портативна Kanagram для планшетів
Comment[x-test]=xxKanagram Active for tabletsxx
Exec=kanagram-active -graphicssystem raster %u
Terminal=false
Icon=kanagram-active
Type=Application
Categories=Qt;KDE;
