[Desktop Entry]
Name=Kanagram Active
GenericName=Kanagram Active
Comment=Kanagram Active for tablets
Exec=kanagram-active -graphicssystem raster %u
Terminal=false
Icon=kanagram-active.png
Type=Application
Categories=Qt;KDE;Games;
