#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Kanagram
Name[ast]=Kanagram
Name[be]=Kanagram
Name[bg]=Kanagram
Name[bn]=কে-অ্যানাগ্রাম
Name[br]=Kanagram
Name[bs]=Kanagram
Name[ca]=Kanagram
Name[ca@valencia]=Kanagram
Name[cs]=Kanagram
Name[csb]=Kanagram
Name[cy]=blinKen
Name[da]=Kanagram
Name[de]=Kanagram
Name[el]=Kanagram
Name[en_GB]=Kanagram
Name[eo]=Kanagram
Name[es]=Kanagram
Name[et]=Kanagram
Name[eu]=Kanagram
Name[fi]=Kanagram
Name[fr]=Kanagram
Name[ga]=Kanagram
Name[gl]=Kanagram
Name[gu]=Kanagram
Name[he]=Kanagram
Name[hi]=के-अनाग्राम
Name[hne]=के-अनाग्राम
Name[hr]=Kanagram
Name[hu]=Kanagram
Name[is]=Kanagram
Name[it]=Kanagram
Name[ja]=Kanagram
Name[ka]=Kanagram
Name[kk]=Kanagram
Name[km]=Kanagram
Name[ko]=Kanagram
Name[lt]=Kanagram
Name[lv]=Kanagram
Name[ml]=കെ-അനഗ്രം
Name[mr]=कानाग्राम
Name[ms]=Kanagram
Name[nb]=Kanagram
Name[nds]=Kanagram
Name[ne]=कानाग्राम
Name[nl]=Kanagram
Name[nn]=Kanagram
Name[pa]=ਕੰਨਗਰਾਮ
Name[pl]=Kanagram
Name[pt]=Kanagram
Name[pt_BR]=Kanagram
Name[ro]=Kanagram
Name[ru]=Kanagram
Name[sk]=Kanagram
Name[sl]=Kanagram
Name[sv]=Kanagram
Name[tr]=Kanagram
Name[ug]=Kanagram
Name[uk]=Kanagram
Name[vi]=Kanagram
Name[x-test]=xxKanagramxx
Name[zh_CN]=Kanagram
Name[zh_TW]=語言_Kanagram
GenericName=Kanagram Launcher
GenericName[bs]=Kanagram pokretač
GenericName[ca]=Llançador del Kanagram
GenericName[ca@valencia]=Llançador del Kanagram
GenericName[cs]=Spouštěč Kanagram
GenericName[da]=Programstarter til Kanagram
GenericName[de]=Kanagram-Starter
GenericName[el]=Εκτελεστής του Kanagram
GenericName[es]=Lanzador de Kanagram
GenericName[et]=Kanagrami käivitaja
GenericName[fi]=Kanagram-käynnistin
GenericName[fr]=Lanceur de Kanagram
GenericName[ga]=Tosaitheoir Kanagram
GenericName[gl]=Iniciador do Kanagram
GenericName[hu]=Kanagram indítóikon
GenericName[it]=Avviatore di Kanagram
GenericName[kk]=Kanagram жеккіші
GenericName[km]=កម្មវិធី​បើក​ដំណើរការ Kanagram
GenericName[lt]=Kanagram paleidiklis
GenericName[mr]=कानाग्राम प्रक्षेपक
GenericName[nb]=Kanagram-starter
GenericName[nl]=Kanagram programmastarter
GenericName[pl]=Program uruchamiający Kanagram
GenericName[pt]=Lançamento do Kanagram
GenericName[pt_BR]=Kanagram, Lançamento
GenericName[ru]=Запуск Kanagram
GenericName[sk]=Spúštať Kanagram
GenericName[sl]=Zaganjalnik Kanagram
GenericName[sv]=Kanagram startprogram
GenericName[tr]=Kanagram Çalıştırıcı
GenericName[uk]=Kanagram, запуск
GenericName[x-test]=xxKanagram Launcherxx
GenericName[zh_TW]=Kanagram 啟動器
Exec=/opt/kanagram/bin/kanagram.sh
Icon=/usr/share/icons/hicolor/80x80/apps/kanagram-harmattan.png
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
