[Desktop Entry]
Name=Kanagram Active
Name[ca]=Kanagram Actiu
Name[cs]=Kanagram Active
Name[da]=Kanagram Active
Name[de]=Kanagram Active
Name[es]=Kanagram Active
Name[et]=Kanagram Active
Name[fi]=Kanagram Active
Name[ga]=Kanagram Active
Name[gl]=Kanagram Active
Name[hu]=Kanagram Active
Name[it]=Kanagram attivo
Name[kk]=Kanagram Active
Name[km]=Kanagram សកម្ម
Name[nb]=Kanagram Aktiv
Name[nl]=Kanagram-actief
Name[pl]=Kanagram Active
Name[pt]=Kanagram Active
Name[pt_BR]=Kanagram Active
Name[sk]=Kanagram Active
Name[sl]=Kanagram Active
Name[sv]=Kanagram Active
Name[uk]=Портативна Kanagram
Name[x-test]=xxKanagram Activexx
Name[zh_TW]=Kanagram Active
Comment=Kanagram Active for tablets
Comment[ca]=Kanagram per Tablets
Comment[cs]=Kanagram Active pro tablety
Comment[da]=Kanagram Active til tablet-pc'er
Comment[de]=Kanagram Active für Tablets
Comment[es]=Kanagram Active para tablets
Comment[et]=Kanagram Active tahvelarvutitele
Comment[fi]=Kanagram Active tableteille
Comment[ga]=Kanagram Active ar tháibléid
Comment[gl]=Kanagram Active para tabletas
Comment[hu]=Kanagram Active tabletekhez
Comment[it]=Kanagram attivo per tablet
Comment[kk]=Планшеттерге арналған Kanagram Active
Comment[km]=Kanagram សកម្ម​សម្រាប់​តារាង
Comment[nb]=Kanagram Aktiv for dataplater
Comment[nl]=Kanagram-actief voor tablets
Comment[pl]=Kanagram Active dla tabletów
Comment[pt]=Kanagram Active para tabletes
Comment[pt_BR]=Kanagram Active para tablets
Comment[sk]=Kanagram Active pre tablety
Comment[sl]=Kanagram Active za tablične računalnike
Comment[sv]=Kanagram Active för läsplattor
Comment[uk]=Портативна Kanagram для планшетів
Comment[x-test]=xxKanagram Active for tabletsxx
Comment[zh_TW]=平板電腦用的 Kanagram Active
Encoding=UTF-8
Type=Service
Icon=kanagram-active
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Laszlo Papp
X-KDE-PluginInfo-Email=lpapp@kde.org
X-KDE-PluginInfo-Name=org.kde.kanagram
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://edu.kde.org/applications/all/kanagram/
X-KDE-PluginInfo-Category=Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPLv2
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
