[Desktop Entry]
Encoding=UTF-8
Name=Kanagram
Name[tr]=KAnagram
Exec=kanagram
Icon=kanagram
Type=Application
GenericName=Letter Order Game
GenericName[et]=Tähtede järjestamise mäng
GenericName[it]=Gioco di riordinamento di lettere
GenericName[pt]=Jogo de Ordenação de Letras
GenericName[pt_BR]=Jogo de Ordenação de Letras
Categories=Qt;KDE;Education;X-KDE-Edu-Language;
